h1,h3 {
  color:aqua ;
  background-color:black;
}   
i,p {
    font-family: 'Dancing Script', cursive;
}
button { 
    background-color: #b0bec5 azul-gris claro-3;
    color: blueviolet;
  border: none 
  padding 10px;
   cursor: progress;

}
button:hover {
  background-color: blue;
  color:lawngreen;
  border: 3px solid black;
  border-radius: 7px  0px  7px  0px;
}
div{
      width: 250px;
   height: 250px;
   background-color: cornflowerblue;
 transition: 0.5s;
}
div:hover{
  background-color: darkseagreen;
     width: 500px;
     transition: 0.5s;
    
}